---
---

$header-bg-color: #d4d3ba;
$header-bg-color-secondary: #d4c4ba;
$header-heading-color: #716660;

$section-headings-color: #b08113;
$body-text-color: #606c71;
$body-link-color: #606c71;

@import "{{ site.theme }}";


* {
  font-family: "Bona Nova", serif;
}

a {
  text-decoration: underline;
}

.btn {
  color: #716660;
  border-color: #716660;
  background-color: rgba(0, 0, 0, 0.01);
  text-decoration: none;

  &:hover {
    color: #52453e;
    border-color: #52453e;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
