---
---

$header-bg-color: #d4d3ba;
$header-bg-color-secondary: #d4c4ba;
$header-heading-color: #716660;

$section-headings-color: #b08113;
$body-text-color: #606c71;

@import "{{ site.theme }}";


* {
  font-family: "Bona Nova", serif;
}

.btn {
  color: #716660;
  border-color: #716660;
}
